// @file
// SASS partials import
// --------------------------------------------------
@import "compass";

// Mixins and Variables
// --------------------------------------------------
@import "variable";
@import "contrib";
@import "mixin";

// Radix
// --------------------------------------------------
// @import "compass_radix";
// @import "compass_radix_responsive";

// Theme CSS
// --------------------------------------------------
@import "font";
@import "layout";
@import "structure";
@import "menu";
@import "navbar";
@import "page";
@import "panel";
@import "view";
@import "form";
@import "comment";
@import "node";
@import "user";

// My edits
// --------------------------------------------------
@import "compass/typography/text/replacement";
@import "compass/css3/opacity";
@import "compass/css3/transform";

/* Action links */
ul.action-links, div.btn-links ul {
  @include clearfix;
  padding: 0 !important;
  list-style-type: none !important;
  overflow: hidden;
  margin-left: 0 !important;
  margin-bottom: 1em;
  
  li, li.first {
    margin-left: 0 !important;
    float: left;
    margin-right: 1em;
    list-style-type: none !important;
  }
  
  li a {
    @include sassy-button("matte", 5px, 16px, $branding-color, darken($branding-color, 8%), white, "inset");
    text-decoration: none;
  }
}
